version: '3'
services:
  mediamtx:
    image: bluenviron/mediamtx:latest-ffmpeg
    container_name: mediamtx
    restart: always
    ports:
      - "8554:8554"  
      - "1935:1935"   
      - "8888:8888"  
      - "8889:8889"   
    volumes:
      - ./mediamtx.yml:/mediamtx.yml          